
<div class="container-fluid center-items">
  <div class="row align-items-center full-height">
    <div class="col-lg-6">
      <div class="row text-center">
        <!--h2 class="col-md-12"><img src="../assets/ml.jpg" class="world"></h2-->
        <h1 class="col-md-12 main-title">SHRAMIK ASSIST</h1>
      </div>
      <img class="world" src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Erioll_world_2.svg/256px-Erioll_world_2.svg.png"/>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-md-12 text-center">
          <button class="big-rounded-btn btn-primary mr-2" routerLink="/shramik">SHRAMIK</button>
          <button class="big-rounded-btn btn-primary mr-2">BUSINESS HOUSE</button>
        </div>
      </div> 
  </div>
</div>

<div class="VYMape" aria-hidden="true"></div>
